=breadcrumb_tag do
  %li.active
    = t('headers.stacks.new')
  %li
    = link_to 'Список стеллажей', stacks_path
  %li
    Создание стеллажа
    
.page-header
  %h2 Новый стеллаж


= render 'form'

= link_to 'Назад', stacks_path, class: 'btn btn-primary'
