=breadcrumb_tag do
  %li.active
    = t('headers.stacks.new')
  %li
    = link_to 'Список стеллажей', stacks_path
  %li
    Создание стеллажа
%br

%h1 New stack

= render 'form'

= link_to 'Back', stacks_path
