=breadcrumb_tag do
  %li.active
    = t('headers.stacks.new')
  %li
    = link_to 'Список стеллажей', stacks_path
  %li
    Создание стеллажа
%br

%h1 Новый стеллаж

= render 'form'

= link_to 'Назад', stacks_path, class: 'btn btn-primary'
