=breadcrumb_tag do
  %li.active
    = t('headers.items.new')
  %li
    = link_to 'Список товаров', items_path
  %li
    Создание товара
%br

%h1 Новый товар

= render 'form'

= link_to 'Назад', items_path, class: 'btn btn-primary'
